.input_cla
{
width:200px;
height:30px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow:inset 5px 3px 5px#CCCCCC ;
    padding: 0 10px;
    font-size: 12px;
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
}
.bunton
{
width:100px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow:inset 4px 3px 4px #CCCCCC ;
background::#FFFFFF;
color:#FF0000;
}
.style1 {color: #0066FF}
.input_cla1 {width:200px;
height:30px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow:inset 5px 3px 5px#CCCCCC ;
    padding: 0 10px;
    font-size: 12px;
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
}
.input_cla11 {width:200px;
height:30px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow:inset 5px 3px 5px#CCCCCC ;
    padding: 0 10px;
    font-size: 12px;
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
}
.input_cla2 {width:200px;
height:30px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow:inset 5px 3px 5px#CCCCCC ;
    padding: 0 10px;
    font-size: 12px;
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
}
.input_cla3 {width:200px;
height:30px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow:inset 5px 3px 5px#CCCCCC ;
    padding: 0 10px;
    font-size: 12px;
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
}
.input_cla4 {width:200px;
height:30px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow:inset 5px 3px 5px#CCCCCC ;
    padding: 0 10px;
    font-size: 12px;
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
}
.input_cla21 {width:200px;
height:30px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow:inset 5px 3px 5px#CCCCCC ;
    padding: 0 10px;
    font-size: 12px;
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
}
.input_cla211 {width:200px;
height:30px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow:inset 5px 3px 5px#CCCCCC ;
    padding: 0 10px;
    font-size: 12px;
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
}
.input_cla2111 {width:200px;
height:30px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow:inset 5px 3px 5px#CCCCCC ;
    padding: 0 10px;
    font-size: 12px;
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
}
.input_cla21111 {width:200px;
height:30px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow:inset 5px 3px 5px#CCCCCC ;
    padding: 0 10px;
    font-size: 12px;
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
}
.input_cla211111 {width:200px;
height:30px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow:inset 5px 3px 5px#CCCCCC ;
    padding: 0 10px;
    font-size: 12px;
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
}
.input_cla2111111 {width:200px;
height:30px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow:inset 5px 3px 5px#CCCCCC ;
    padding: 0 10px;
    font-size: 12px;
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
}
.input_cla21111111 {width:200px;
height:30px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow:inset 5px 3px 5px#CCCCCC ;
    padding: 0 10px;
    font-size: 12px;
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
}
.input_cla211111111 {width:200px;
height:30px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow:inset 5px 3px 5px#CCCCCC ;
    padding: 0 10px;
    font-size: 12px;
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
}
.input_cla5 {width:200px;
height:30px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow:inset 5px 3px 5px#CCCCCC ;
    padding: 0 10px;
    font-size: 12px;
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
}
.input_cla6 {width:200px;
height:30px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow:inset 5px 3px 5px#CCCCCC ;
    padding: 0 10px;
    font-size: 12px;
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
}
*{margin: 0; padding: 0;}

#wrapper {
    width: 800px;
    margin: 20px auto;

}

#nav, #nav ul {
    list-style:  none;
    position: relative;
    line-height: 1.5em;
}

#nav a:link, #nav a:active,
#nav a:visited {
    display: block;
    padding: 0px 5px;
    border: 1px solid #3883cc;
    color: white;
    text-decoration: none;
    background: #3883cc;
}

#nav a:hover {
    background: #fff;
    color: #333;
}

#nav li {
    float: left;
    position: relative;
}

#nav ul {
    position: absolute;
    width: 12em;
    top: 1.5em;
    display: none;
}

#nav li ul a {
    width: 12em;
    float: left;
}

#nav ul ul {
    top: auto;
}

#nav li ul ul {
    left: 12em;
    margin: 0px 0 0 10px;
}

#nav li:hover ul ul, 
#nav li:hover ul ul ul,
#nav li:hover ul ul ul ul {
    display: none;
}

#nav li:hover ul,
#nav li li:hover ul,
#nav li li li:hover ul,
#nav li li li li:hover ul {
    display: block;
}
.info
{
display:none;
position:relative;
}
.img:hover .info
{
display:block;
position:absolute;
margin-top:-120px;
margin-left:100px;
border:#FF0000 solid;
height:200px;
width:200px;
padding:5px;
background:#FFFFFF;
}